version: "3.3"

networks:
  external_net-rclone:
    external: true

services:
  rclone-{{ REMOTE_NAME }}:
    image: rclone/rclone:latest
    command: mount "{{ REMOTE_NAME }}:" "/data"
    security_opt:
      - apparmor:unconfined
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse
    volumes:
      - {{ CONFIG_PATH }}:/config
      - {{ CACHE_PATH }}:/cache
      - {{ DATA_PATH }}:/data
    networks:
      - external_net-rclone
