version: "3.8"

volumes:
  config:
    name: external_vol-rclone-config-{{ VARS.SERIVCE_NAME }}
    external: true

networks:
  rclone:
    name: external_net-rclone
    external: true

services:
  rclone-{{ VARS.SERIVCE_NAME }}:
    image: rclone/rclone:latest
    command: mount "{{ VARS.SERIVCE_NAME }}:" "/data" --allow-other --allow-non-empty --buffer-size 32M --vfs-read-chunk-size=32M --vfs-read-chunk-size-limit 2048M --vfs-cache-mode writes --dir-cache-time 96h
    security_opt:
      - apparmor:unconfined
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse
    volumes:
      - config:/config/rclone
      - {{ VARS.BIND_DATA }}:/data:shared
    networks:
      - rclone
    container_name: rclone-{{ VARS.SERIVCE_NAME }}
    restart: always
