version: "3.3"

volumes:
  external_vol-erichough-nfs-server:
    external: true

services:
  nfs-server:
    image: erichough/nfs-server:2.2.1
    env_file: external_env-server.env
    volumes:
      - external_vol-erichough-nfs-server:/data
      - /lib/modules:/lib/modules:ro
      - {{ VARS.BIND_EXPORTS }}:/etc/exports
    network_mode: host
    restart: always
    container_name: nfs-server
    user: root
    privileged: true
    cap_add:
      - SYS_ADMIN
      - SYS_MODULE
      - CAP_SYS_ADMIN
