version: "3.8"

volumes:
  config:
    name: external_vol-rclone-config-{{ VARS.SERIVCE_NAME }}
    external: true

services:
  rclone-{{ VARS.SERIVCE_NAME }}:
    image: rclone/rclone:latest
    env_file: external_env-{{ VARS.SERIVCE_NAME }}.env
    command: mount "{{ VARS.SERIVCE_NAME }}:" "/data" --allow-other --allow-non-empty --buffer-size 32M --vfs-read-chunk-size=32M --vfs-read-chunk-size-limit 2048M --vfs-cache-mode writes --dir-cache-time 96h
    security_opt:
      - apparmor:unconfined
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse
    volumes:
      - config:/config/rclone
      - {{ VARS.BIND_DATA }}:/data:shared
    network_mode: "bridge"
    container_name: rclone-{{ VARS.SERIVCE_NAME }}
    restart: always
    healthcheck:
      test: mountpoint /data || exit 1
      interval: 60s
      timeout: 5s
      retries: 10
      start_period: 10m
