version: "3.8"

volumes:
  config:
    name: external_vol-rclone-config-{{ VARS.SERIVCE_NAME }}
    external: true

networks:
  rclone:
    name: external_net-rclone
    external: true

services:
  rclone-{{ VARS.SERIVCE_NAME }}:
    image: gqbre/docker-rclone-proxy
    env_file: external_env-all.env
    environment:
      - "RemotePath={{ VARS.SERIVCE_NAME }}:"
    security_opt:
      - apparmor:unconfined
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse
    volumes:
      - config:/config
      # - {{ VARS.BIND_DATA }}:/mnt/mediaefs:shared
      - type: bind
        source: {{ VARS.BIND_DATA }}
        target: /mnt/mediaefs
        bind:
          propagation: shared
    networks:
      - rclone
    container_name: rclone-{{ VARS.SERIVCE_NAME }}
    restart: always